.main{
    display:inline-block;
    text-align:center;
}

.kakomi-maru2 {
 margin: 2em auto;
 padding: 1em;
 width: 50%;
 color: #666666; /*文字色*/
 border: 2px solid #996633; /*線の太さ・色*/
 background-color: #fff; /*背景色*/
 box-shadow: -2px 5px 5px #e8d3c7; /*影*/
 border-radius: 20px; /*角の丸み*/
}

.square_btn{
    margin-left : 300px ; 
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #DEB887;/*左線*/
    color: 	#DEB887;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
                    
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}


.square_btn_2{
    margin-left : 0px ; 
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #00ac9a;/*左線*/
    color: 	#00ac9a;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    text-align: center;
}
.square_btn_2:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

<<<<<<< HEAD
=======
     
 .media-body {
    padding: 0.5em 1em;
    margin: 2em 0;
   
    background: #f9f9f9;/*背景色*/
    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.64);/*影*/
    width:700px;
    display:block;
}
.media-body p {
    margin: 0; 
    padding: 0;
}

.title-sentence{
    font-size: 24px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}
>>>>>>> d8fc89cf9cea24691a9b83db4e5868793bfae919
